
@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Upload Your Image</h2>
<div class="container">
    <div class="form-control">
        <form action="">
            <input name="path" type="file" />
            <input type="submit" />
        </form>
    </div>
</div>

